<html>
  <head>
    <title>My New Game!</title>
    <link rel="stylesheet" type="text/css" href="myGame.css">
  </head>
  <body>
    <div id = "body">
      <div id = "head">
        <h1>DON'T TOUCH IT!</h1>
      </div>
      
      <div id = "chain_reaction">
        <a href="http://junyu.herokuapp.com/chain-reaction">Clikc to play my first game: Chain Reaction!</a>
      </div>
      <br>
      <div id = "tutorial">
        <div id = "tutorial_heading">
          Here's the new game tutorial
        </div>
        <div id = "tutorial_body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When you click on a certain position on the canvas, the white ball(you) will move toward that direction for a certain distance, you can consider this as the velocity whose unit is distance per click. What else should I say? DON'T TOUCH THOSE COLORFUL WALLS! (TIP: The larger the distance between your mouse and the ball, when you click, the faster will the ball move! and vice versa.)</p>
        </div>
      </div>
      <br>
      <div id = "restart">
        <a href="file:///Users/junyuwang/Desktop/hackthon/views/myGame.html">Restart</a>
      </div>
      <br>
      <div id = "canvas">
        <canvas id="game_canvas" width="1200px" height="600px"></canvas>
      </div>
      <br>
      <br>
    </div>
    <script src="jquery-1.10.2.js"></script>
    <script src="myGame.js"></script> 
  </body>
</html>